header, nav, main {
	width: 90%;
	margin:auto;
	border: 1px solid black;
}

h1 {
	font-family:Helvetica;
	font-size:40px;
}

h2 {
	font-family:serif;
	font-size: 20px;
}

nav ul
{	list-style-type: none;
	text-align: center;
	font-family: 'Quicksand', sans-serif;}


nav li 
{	display: inline-block;
	margin:8px;}




.picture-lg {
	background-color: #ccc;
	width:100%;
	min-height: 200px;
}

.picture-sm {
	background-color: #ccc;
	width: 200px;
	height: 200px;
}

.picture-circle {
	background-color: #ccc;
	width:200px;
	min-height: 200px;
	border-radius: 50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
}

.video {
	background-color: #ccc;
	width: 350px;
	height:250px;
}

.price-grid {
	display:grid;
	grid-template-columns: 1fr 1fr;
	width:100%;
}

.price-grid span:nth-child(2) {
	text-align:right;
}

.button {
	background-color: #ccc;
	border-radius: 12px;
	border: 1px solid black;
	padding:8px;
}

.maincontent {
	width:90%;
	margin: auto;

}

.meditationcontent {
	width:90%;
	margin: auto;
	text-align:center;

}

.exercisecontent {
	width:90%;
	margin:auto;

}

.healthcontent {
	width: 90%;

}