header, nav, main, {
	width: 100%;

}

h1 {
	font-family:Helvetica;
	font-size:50px;
	color:white;
	text-transform: uppercase;
	margin-left:8px;
}

h2 {
	font-family:serif;
	font-size: 30px;
	color: #333333;
	background-color:#35ea97;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;}


h3 {font-size:20px;
	color:white;
	background-color:grey;
	padding-left:10px;

	;


}

nav ul
{	list-style-type: none;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	color:#EAC747;
	background-color:#35ea97;}


nav li 
{	display: inline-block;
	margin:8px;}

body {
	background-color:white;
}

a:-webkit-any-link {
    color: #333333;
    cursor: pointer;
    text-decoration: none;
    }

 header {
 	background-color:#333333;
 }

 p {
 	margin-left:30px;
 }





.picture-lg {
	background-color: #ccc;
	width:100%;
	min-height: 200px;
}

.picture-sm {
	background-color: #ccc;
	width: 200px;
	height: 200px;
}

.picture-circle {
	background-color: #ccc;
	width:200px;
	height: 200px;
	border-radius: 50%;
	margin-left:auto;
	margin-right:auto;
	margin-top:40px;
}


.video {
	background-color: #ccc;
	width: 350px;
	height:250px;
}

.price-grid {
	display:grid;
	grid-template-columns: 1fr 1fr;
	width:100%;
}

.price-grid span:nth-child(2) {
	text-align:right;
}

.button {
	background-color: #ccc;
	border-radius: 12px;
	border: 1px solid black;
	padding:8px;
}

.maincontent {
	width:100%;
	margin: auto;
	line-height:30px;


}

.meditationcontent {
	width:90%;
	margin: auto;
	text-align:center;

}

.exercisecontent {
	width:90%;
	margin:auto;

}

.healthcontent {
	width: 90%;

}